# [submodule "themes/hexo-theme-obsidian"]
# 	path = themes/hexo-theme-obsidian
# 	url = https://hub.fastgit.org/bennyxguo/hexo-theme-obsidian.git
# [submodule "themes/hexo-theme-aurora"]
# 	path = themes/hexo-theme-aurora
# 	url = https://github.com/auroral-ui/hexo-theme-aurora.git
[submodule "themes/hexo-theme-butterfly"]
	path = themes/hexo-theme-butterfly
	url = https://github.com/Weidows/hexo-theme-butterfly.git
	branch = mine
[submodule "source/_posts/life/Eyes-4-Fishing"]
	path = source/_posts/life/Eyes-4-Fishing
	url = https://github.com/Weidows-projects/Eyes-4-Fishing.git
[submodule "source/_posts/experience/LeetCode"]
	path = source/_posts/experience/LeetCode
	url = https://github.com/Weidows/LeetCode.git
