/* 主页大标题 */
#page-header
  #site-title
    color #cf31ba

/*页脚自定义字段字体颜色*/
.copyright
  color #00c4b6

/*a标签颜色*/
a
  color #00c4b6

/*头部文字颜色*/
#nav
  a
    color #00ffea

/* valine美化 */
#vedit
  background-image url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/mao.gif)
  background-size contain
  background-repeat no-repeat
  background-position right
  background-color rgba(255, 0, 191, 0.2)
  resize vertical
  &:focus
    background-position-y 200px
    transition all 0.2s ease-in-out 0s

/* Aplayer样式改进 */
.aplayer
  &.aplayer-fixed
    &.aplayer-narrow
      .aplayer-body
        left -66px !important

/*底部信息*/
.github-badge
  margin-left 5px
  display inline-block
  border-radius 4px
  text-shadow none
  color #fff
  line-height 15px
  background-color #abbac3
  margin-bottom 5px
  font-size 12px
  .badge-subject
    display inline-block
    background-color #4d4d4d
    padding 4px 4px 4px 6px
    border-top-left-radius 4px
    border-bottom-left-radius 4px
  .badge-value
    display inline-block
    padding 4px 6px 4px 4px
    border-top-right-radius 4px
    border-bottom-right-radius 4px
  .bg-blue
    background-color #007ec6
  .bg-brightgreen
    background-color #4dc820
  .bg-orange
    background-color orange
  .bg-gradient
    background linear-gradient(to right,#3ca5f6,#a86af9)
  .bg-blueviolet
    background-color #8833d7

/*scrollbar*/
::-webkit-scrollbar
  width: 10px;
  height: 10px;

::-webkit-scrollbar-thumb
  background-color: rgba(255, 86, 232, 0.815);
  background-image: -webkit-linear-gradient(
    45deg,
    #34bf49 25%,
    transparent 25%,
    transparent 50%,
    #ff4c4c 50%,
    #0099e5 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;

::-webkit-scrollbar-corner
  background-color: transparent;

::-moz-selection
  color: #fff;
  background-color: #ce70b9;

/* 文章背板透明 */
.layout
  & > div:first-child:not(.recent-posts)
    background: rgba(0, 45, 35, 0.5)


/* 鼠标图标 */
body
  cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/1.png), auto

a
  &:hover
    cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

button
  &:hover
    cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

i
  &:hover
    cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

#upj
  &:hover
    cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

#footer-wrap
  a
    &:hover
      text-decoration none
      cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

#pagination
  .page-number
    &:hover
      cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto

#nav
  .site-page
    &:hover
      cursor url(https://cdn.jsdelivr.net/gh/Weidows/Images/img/cursor/2.png), auto


/* 视觉差名片 */
body
  justify-content center

.full_page
  position relative
  width 100%
  background-size cover
  background-position center
  display flex
  justify-content center
  align-items center
  overflow hidden
  &:hover
    #page-header-child-1
      left 0px
    #page-header-child-2
      right 0px

#page-header-child-1,
#page-header-child-2
  position absolute
  width 100%
  height 100vh
  filter drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.5))
  background-size cover
  background-position center
  opacity 0.7
  overflow hidden

#page-header-child-1
  left -540px
  transform rotateZ(120deg)
  transition 0.6s
  &::after
    transform rotateZ(-120deg)

#page-header-child-2
  right -540px
  transform rotateZ(-120deg)
  transition 0.8s
  &::after
    transform rotateZ(120deg)

#site-title,
#site-subtitle
  opacity 0
  transition 0.5s

#page-header-child-1::after,
#page-header-child-2::after
  content ""
  position absolute
  width 100%
  height 100vh
  background-image url("https://cdn.jsdelivr.net/gh/Weidows/Images/img/chuyin.jpg")
  background-position center

#page-header
  &:hover
    #site-title,
    #site-subtitle
      opacity 1
